@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

body {
  margin-top: 0px;
  height: 930px;
  background-image: url(./images/bg.png);
  color: black;
  font-family: "Cinzel", serif;
}

a {
  text-decoration: none;
  color: white;
}

#content {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 75%;
  height: 100%;
  border: 10px double black;
  background-color: grey;
}

.title {
  display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
  background-image: url(./images/header.jpg);
}

.title h1 {
  width: 100%;
  font-weight: bold;
  font-style: italic;
}

nav {
  height: 70px;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
}

.menu {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 80%;
  height: 100%;
}

.menu div {
  margin: 30px;
  display: inline-block;
}

.items-list {
  width: 100%;
  margin: auto;
}

#principal {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.battle {
  position: relative;
  float: left;
}
